.header-img {
    height: 5rem;
    width: auto;
}
.body-bg-color{
background-color: #FEF5F6 !important;
}

.nav-bg{
background-color:#FEF5F6 !important ;
}

.b-radius {
    border-radius: 0.75rem !important;
}

.width-card {
    width: 23rem !important;
}

.text-area-height {
    height: 9.375rem !important
}

.fade-red-bg {
    clip-path: polygon(0 14%, 100% 2%, 100% 100%, 0 100%);
    background-color: #ffcccc !important;
}

.shade {
   
    box-shadow: 0rem 1rem 2rem #ffcccc !important;
}

.hide {
    display: none;
}

.show:hover .hide {
    display: block !important;
}

.show:hover .body-1-regular {
    font-weight: 700 !important;
    cursor: pointer;
    color: #2A2A2A !important;
}


.overlay {
    position: relative;
    z-index: 1;
}

.web-dev {
    position: relative;
    text-align: center;
    color: black;
}

.title-postion {
    position: relative;
    text-align: left;
    color: black;
}

.stacked-card-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-1 {
    position: relative;
    text-align: start;
    color: black;
}

.section-1 img {
    max-width: 60%;
}

.section-1-text {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .text-color-primary{
    color: #2A2A2A !important;
  }
  .text-color-secondary{
    color: #7A7A7A !important;
  }
  .text-color-tertiary{
    color:#A4A4A4 !important
  }
  .primary-accent-color{
    background-color: #E4093E !important;
  }
  .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-style: dashed !important;
    border-color: #E4093E !important;
    border-width: thin !important;    outline: 0;
    box-shadow:none !important;
}
.form-border{
    border-style: dashed !important;
    border-color: #E4093E !important;
    border-width: thin !important;
}
.profile-img{
    max-width: 30% !important;
    border-style: dashed !important;
    border-color: #E4093E !important;
    border-width: medium !important;    outline: 0;
}
/* .container-fluid{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
} */
.active {
    font-weight: 700 !important;
    cursor: pointer;
    color: #2A2A2A !important;
}
.point{
    cursor:pointer !important;
}
  /* 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 */